/* Reset */
html, body { 
    margin: 0;
    height: 100%;
    color: #333;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica;
    background-color: #ECF0F1;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button, input {
    border: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}

.block { display: block }
.fixed { position: fixed }
.absolute { position: absolute }
.relative { position: relative }
.transition-transform { transition: transform 0.2s }
.transition-opacity { transition: opacity 0.2s }
.cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.no-focus:focus { outline: none }

.color-gray-2 { color: #BDC3C7 }
.color-gray-3 { color #7F8C8D }

.bg-primary { background-color: #1fb6ff }
.bg-success { background-color: #13ce66 }
.bg-white { background-color: white }
.bg-gray-1 { background-color: #e5e5e5 }
.bg-trans-1 { background-color: rgba(0,0,0,0.24) }
.color-white { color: white }
.color-success { color: #13ce66 }
.color-gray-1 { color: #e5e5e5 }
.uppercase { text-transform: uppercase }
.overflow-scroll { overflow: scroll }

.cursor-disabled { cursor: not-allowed }
.cursor-pointer { cursor: pointer }
.font-size-1 { font-size: 1em }
.font-size-2 { font-size: 0.75em }
.bold { font-weight: 700 }
.letter-spacing-1 { letter-spacing: 2px }
.letter-spacing-2 { letter-spacing: 1px }

.padding-h-2 { padding: 0 0.5em }
.padding-2 { padding: 0.5em }
.padding-1 { padding: 1em }
.margin-1 { margin: 0.25em }
.margin-b-1 { margin-bottom: 1em }
.margin-b-2 { margin-bottom: 2em }

.border-radius-1 { border-radius: 3px }
.border-round { border-radius: 50% }
.border-gray { border: 1px solid #e5e5e5 }

.shadow-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) }
.shadow-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) }

.flex { display: flex }
.flex-align-center { align-items: center }
.flex-space-between { justify-content: space-between }
.flex-fill { flex: 1 1 auto }
.flex-fit { flex: 0 1 auto }
.flex-dont { flex: 0 0 auto }
.flex-equal { flex: 0 1 100% }

.full-width { width: 100% }
.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }

.number-input {
    transition: background-color 0.3s;
    background-color: #fff;
    border: none;
    width: 72px;
    display: inline-block;
    font-size: 1.5em;
    line-height: 48px;
    text-align: center;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
}

.number-input + .number-input {
    margin-left: 8px;
}

.number-input:focus {
    background-color: #e5e5e5;
    outline: none;
}

.button {
    transition: background-color 0.5s;
    padding: 20px;
    font-size: 1em;
    color: #333;
    font-weight: 700;
    background-color: transparent;
    min-width: 58px;
}

.button:active {
    background-color: #e5e5e5;
}

.button:focus {
    outline: none;
}

.ex-title {
    padding: 15px;
    letter-spacing: 1px;
    font-size: 1em;
}
.ex-btn {
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1em;
    text-align: left;
    margin-bottom: 0.5em;
    background-color: transparent;
}

.icon-copy {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    z-index: 0;
}

.icon-copy::before, .icon-copy::after {
    position: absolute;
    content: " ";
    height: 16px;
    width: 16px;
    border: 3px solid #BDC3C7;
    border-radius: 3px;
}

.icon-copy::before {
    top: 0;
    left: 0;
}

.icon-copy::after {
    bottom: 0;
    right: 0;
}

.icon-remove {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    z-index: 0;
}

.icon-remove::before, .icon-remove::after {
    position: absolute;
    content: " ";
    height: 3px;
    width: 16px;
    background-color: #BDC3C7;
    border-radius: 3px;
    top: 50%;
    margin-top: -1.5px;
    left: 50%;
    margin-left: -8px;
}

.icon-remove::before {
    transform: rotate(45deg);
}

.icon-remove::after {
    transform: rotate(-45deg);
}

.add-set {
    animation-name: add-set;
    animation-duration: 0.2s;
}

.copy-set {
    animation-name: copy-set;
    animation-duration: 0.2s;
}

.remove-set {
    animation-name: remove-set;
    animation-duration: 0.2s;
}

.a-reverse {
    animation-direction: reverse;
}

@keyframes add-set {
    from {
        transform: translateX(100vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes copy-set {
    from {
        transform: translateY(-92px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes remove-set {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vh);
    }
}
