/* Reset */
html, body { 
    margin: 0;
    height: 100%;
    color: #2C3E50;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica;
    background-color: #ECF0F1;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button, input {
    border: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
input[type="date"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}



/* Colors
 * Clouds: #ECF0F1
 * Silver: #BDC3C7 
 * Blue: #3498DB
 * Dark: #2C3E50
 */

.color-clouds { color: #ECF0F1 }
.color-silver { color: #BDC3C7 }
.color-blue { color: #3498DB }
.color-dark { color: #2C3E50 }

.bg-white { background-color: white }
.bg-black { background-color: black }
.bg-blue { background-color: #3498DB }
.bg-color { background-color: currentColor }

/* Font */
.fz-sm { font-size: 0.75rem } /* 12px */
.fz-md { font-size: 1rem } /* 16px */
.fz-lg { font-size: 1.5rem } /* 24px */
.lh-md { line-height: 1.5rem }
.lh-xl { line-height: 3rem }
.lh-none { line-height: 0 }
.bold { font-weight: 700 }
.ls-sm { letter-spacing: 1px }
.ls-md { letter-spacing: 2px }
.text-left { text-align: left }
.text-center { text-align: center }
.uc { text-transform: uppercase }

/* Margin & Padding */
.m-xs { margin: 0.25rem }
.m-md { margin: 1rem }
.mb-sm { margin-bottom: 0.5rem }
.mb-md { margin-bottom: 1rem }
.mb-lg { margin-bottom: 1.5rem }
.mb-xl { margin-bottom: 2rem }
.mr-md { margin-right: 1rem }
.ml-sm { margin-left: 0.5rem }

.p-xs { padding: 0.25rem }
.p-md { padding: 1rem }
.pl-md { padding-left: 1rem }
.pl-xl { padding-left: 3rem }
.pr-md { padding-right: 1rem }
.pr-sm { padding-right: 0.5rem }
.pl-sm { padding-left: 0.5rem }
.pb-lg { padding-bottom: 2rem }
.pb-md { padding-bottom: 1rem }

/* Border */
.rounded { border-radius: 3px }
.round { border-radius: 50% }
.square { border-radius: 0 }
.border-silver { border: 1px solid #BDC3C7 }
.border-none { border: none }

/* Cursor */
.cursor-disabled { cursor: not-allowed }
.cursor-pointer { cursor: pointer }

/* Shadow */
.shadow-sm { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) }
.shadow-sm-inset { box-shadow: inset 0 1px 3px rgba(0,0,0,0.24) }

/* Float */
.float-right { float: right }
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* Flex */
.flex { display: flex }
.flex-align-center { align-items: center }
.flex-space-between { justify-content: space-between }
.flex-fill { flex: 1 1 auto }
.flex-fit { flex: 0 1 auto }
.flex-dont { flex: 0 0 auto }
.flex-equal { flex: 0 1 100% }

/* Utils */
.fixed { position: fixed }
.absolute { position: absolute }
.relative { position: relative }

.inline-block { display: inline-block }
.transition-transform { transition: transform 0.2s }
.transition-opacity { transition: opacity 0.2s }
.transition-bg { transition: background-color 0.2s }
.cover { top: 0; left: 0; right: 0; bottom: 0 }
.no-outline:focus { outline: none }
.focus-bg-clouds:focus { outline: none; background-color: #ECF0F1 }
.active-bg-clouds:active { outline: none; background-color: #ECF0F1 }
.overflow-scroll { overflow: scroll }
.full-width { width: 100%; display: block }

/* For inputs */
.focus-border-blue:focus { 
    outline: none; 
    border-color: #3498DB; 
    box-shadow: 0 0 3px #3498DB, inset 0 1px 3px rgba(0,0,0,0.24);
}
